<footer class="footer">
  <div class="container footer-inner">
    <div>© {{ year }} Amandeep Singh. All rights reserved.</div>
    <div class="footer-links">
      <a href="https://github.com/amandeep-pawar" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/amandeep-pawar/" target="_blank">LinkedIn</a>
      <a href="https://www.instagram.com/endless_sde?stkn=MXg4cHBxcWNsajl1NA%3D%3D&utm_source=qr" target="_blank">Instagram</a>
      <button class="share-link" (click)="share()">Share Portfolio 🔗</button>
    </div>
  </div>
</footer>
