<section id="home" class="hero">
  <div class="container hero-inner">
    <div class="hero-text">
      <span class="badge">👋 Available for new opportunities</span>
      <h1>Hi, I'm <span class="highlight">Amandeep Singh</span><br></h1><h2>Java Full-Stack Developer</h2>
      <p>
       <span class="text-accent">Lead Software Engineer</span> specializing in designing and building scalable, distributed systems and modern, high-performance web applications.<br>
       Having <span class="text-accent">5+ years</span> of experience in <span class="text-accent">Java</span>, <span class="text-accent">Spring Boot</span>, <span class="text-accent">Angular</span>, <span class="text-accent">Microservices</span>, cloud-native technologies, and messaging systems.<br>

        I focus on building reliable, <span class="text-accent">high-performance</span>, production-ready solutions and <span class="text-accent">solving complex engineering problems</span> , <span class="text-accent">optimizing performance</span>, and delivering end-to-end solutions from design and development to deployment.
      </p>
      <div class="cta-row">
        <a href="#contact" class="btn btn-primary">Get in touch</a>
        <a href="assets/Amandeep_Singh.pdf" download class="btn btn-outline">⬇ Download Resume</a>
      </div>
      <div class="social-row">
        <a href="https://github.com/amandeep-pawar" target="_blank" title="GitHub">GitHub</a>
        <a href="https://www.linkedin.com/in/amandeep-pawar/" target="_blank" title="LinkedIn">LinkedIn</a>
        <a href="https://www.instagram.com/endless_sde?stkn=MXg4cHBxcWNsajl1NA%3D%3D&utm_source=qr" target="_blank" title="Instagram">Instagram</a>
      </div>
    </div>
    <div class="hero-visual">
      <div class="orb"></div>
      <div class="avatar-ring">AS</div>
    </div>
  </div>
</section>
